.profile__about-you {
  max-width: 350px;
  margin: 0;
  color: var(--color-white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__about-you {
    max-width: 282px;
    text-align: center;
    font-size: 14px;
  }
}
