.profile {
  display: flex;
  max-width: 880px;
  width: 100%;
  align-items: center;
  margin: 0 auto 47px;
}

@media (max-width: 915px) {
  .profile {
    width: calc(100% - 38px);
  }
}

@media (max-width: 768px) {
  .profile {
    margin: 0 auto 36px;
    flex-direction: column;
  }
}
