.profile__avatar {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    transition: filter .3s ease-in-out;
}

.profile__img:hover .profile__avatar{
    filter: brightness(0.2);
    cursor: pointer;
}