.profile__info_about-you {
  max-width: 350px;
  margin: 0;
  color: var(--color-white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .profile__info_about-you {
    max-width: 282px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
